.wrap {
  display: flex;
  padding: 14px;
  gap: 12px;
  height: 100vh;
  width: 100vw;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 680px;
  background-color: var(--surface-color);
  color: black;
  border-radius: 10px;
  padding: 12px;
}

.panel .tabs {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: stretch;
}

.panel .tabs button {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  background-color: var(--primary-alt-color);
  color: var(--on-primary-alt-color);
  user-select: none;
}

.panel .tabs button.selected {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

.toast-wrap {
  position: fixed;
  top: -200px;
  left: 0;
  width: 100%;
  user-select: none;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  animation: toast-fadeout 0.5s ease-out 0s 1;
}

.toast-wrap.show {
  top: 60px;
  animation: toast-fadein 0.5s ease-out 0s 1;
}

.toast-connect {
  z-index: 1;
  padding: 20px;

  border: 1px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 12px 12px var(--primary-color);

  background-color: var(--surface-color);
  color: var(--on-surface-color);

  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

@keyframes toast-fadein {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 60px;
    opacity: 1;
  }
}

@keyframes toast-fadeout {
  from {
    top: 60px;
    opacity: 1;
  }

  to {
    top: -200px;
    opacity: 0;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--primary-color) 90%, rgba(0, 0, 0, 0));
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: loader-anim 1s infinite linear;
}

@keyframes loader-anim {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}