.trajetoria {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  height: calc(100% - 50px)
}

.trajetoria table {
  flex-grow: 1;
  width: 100%;
  border-collapse: collapse;
  user-select: none;

  display: inline-block;
  overflow: auto;
}

.trajetoria table th,
td {
  padding-right: 12px;
}

.trajetoria table input,
select {
  width: 100%;
}

.trajetoria .mv-node {
  cursor: grab;
  border-radius: 4px;
}

.trajetoria .mv-node:hover,
.trajetoria .mv-node:focus {
  color: var(--on-primary-color);
  background-color: var(--primary-color)
}

.trajetoria .rm-node {
  cursor: pointer;
  color: var(--warning-color);
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.controls button:last-child,
.controls button:first-child {
  grid-area: auto / auto / span 1 / span 3;
}

.controls button {
  height: 82px;
}